<!DOCTYPE html>
<html lang='en'>
<head>
	<meta char='UTF-8'>
	<title>Home</title>
</head>
<body>
<h1>Welcome to Real Life Avatar!</h1>

<p>Have you ever played an RPG? Do you remember how excited you were to gain experience points, build skills, unlock new powers and abilities? Do you remember how amazing it felt when you finally leveled up and you now have access to an amazing array "attacks" and abilities. Now you can do the same in your everyday life!</p>
<p>Real Life Avatar is the beginnng stage for the ultimate adventure...your life. With any classic adventure, you'll meet friends, mentors, teachers, and learn a lot on the way. There will be challenges that will test your abilities, your courage, and your heart. This adventure is no different.</p>
<p>So take the plunge and see what adventures await!</p>
<p>Real Life Avatar is the ultimate purpose drive goal, task, project, and skill manager. You'll be able to find meaning and purpose in everything you do when you start with the end in mind. Whether your are looking to lose a few pounds, learn how to program, starting your own business, you'll find the tools and resources need to get the job done.</p>
<p>Along with community support, guidance, advice, and tools; you'll build the mental and emotional supported needed to achieve your greatest goals and live the life you've always wanted.</p>
</body>
</html>