<div ng-controller="ProjectsController">
	<h1>Project Categories</h1>
	<div ng-repeat="project in projects | unique: 'labels'">
			{{project.labels}}
	</div>

	<h1>My Projects</h1>
	<a href="">Show All</a>
	<a href="">Show Completed</a>
	<a href="">Show In Progress</a>
	<a href="">Show Progress</a>
	<a href="">Show Shared</a>
	<a href="">Work on Goal Planning</a>
	<a href="">Make some progress!</a>
	
	<table>
		<thead>
			<th>Project Name</th>
			<th>Categories</th>
			<th>Skills</th>
			<th>Actions</th>
			<th>Goals</th>
			<th>Notes</th>
			<th>Progress</th>
			<th>Resources</th>
		</thead>
		<tbody>
			<tr>
				<td><input class='box' type='text' placeholder='Project Name' ng-model='formData.name'></td>
				<td><input class='box' type='text' placeholder='Labels' ng-model='formData.labels'></td>
				<td><input class='box' type='text' placeholder='Skills' ng-model='formData.skills'></td>
				<td><input class='box' type='text' placeholder='Actions' ng-model='formData.actions'></td>
				<td><input class='box' type='text' placeholder='Goals' ng-model='formData.goals'></td>
				<td><input class='box' type='text' placeholder='Notes' ng-model='formData.notes'></td>
				<td><input class='box' type='text' placeholder='Progress' ng-model='formData.progress'></td>
				<td><input class='box' type='text' placeholder='Resources' ng-model='formData.resources'></td>
				
				<td><button type="submit" ng-click="createProject()">Add Project</button></td>
			</tr>
			<tr ng-repeat="project in projects | filter: filter_name | orderBy:'name'">
				<td>{{project.name}}</td>
				<td>{{project.labels}}</td>
				<td>{{project.skills}}</td>
				<td>{{project.actions}}</td>
				<td>{{project.goals}}</td>
				<td>{{project.notes}}</td>
				<td>{{project.progress}}</td>
				<td>{{project.resources}}</td>
				<td><input type='checkbox' ng-click='deleteProject(project._id)'></td>
			</tr>
		</tbody>
	</table>
</div>
