<h1>Resources!-BETA</h1>

<p>
Mentors
Books
Videos
Mentors (virtual and online)
	Elon Musk for example
	Share virtual mentors
	Share virtual
GetMotivated Buddies
Daily Journal
Daily Video

Visualizations
Visualize completed tasks/projects/goals and their relationships/progress
Vision Board (see goals, projects, task, etc and how they connect to each other)
See what other people's task are.
See what other people's projects are.
See what other people's goals are.
And help, share, collaborate on goals, projects, and tasks.

Share Anonymously (title and category)
Full Share (with username and details)
</p>
</table>

