<script>
	$(document).ready(function(){

		$('#edit').click(function(){
			if($('#edit').is(':checked'))
			{
				$('#myTable > tbody > tr:not(:first) input[type=text]').removeClass('entry');
				$('#myTable > tbody > tr:not(:first) input[type=text]').addClass('entry-on');
			}
			else
			{
				$('#myTable > tbody > tr:not(:first) input[type=text]').addClass('entry');
				$('#myTable > tbody > tr:not(:first) input[type=text]').removeClass('entry-on');
			}
			$('.update-btn').toggle();
		});

		$('#doc-info-btn').click(function(){
			$('#doc-table').toggle();
		});
	});
</script>
<div ng-controller="skilledController">
	
	<h1>Skill Categories</h1>
	<div>
		<button ng-click="select('all')">All Categories</button>
		<div class='cats' ng-repeat="skill in skills | uniq: 'category'">
				<button ng-click='select(skill.category)' ng-show="skill.category.length > 1">{{skill.category}}</button>

		</div>
	</div>
	<div>
		<button>All Sub Categories</button>
		<div class='cats' ng-repeat="skill in skills | uniq: 'category'">
				<button ng-click='select(skill.sub)' ng-show="skill.sub.length > 1">{{skill.sub}}</button>
		</div>
	</div>
	<div>
		<h1>My Skills</h1>
		Progress: <a href="">Show All</a>
		<br>
		<input id='edit' type='checkbox'>Edit</input>

<!--DOCUMENT SHOW START-->
		<form ng-show='editing' class='doc-window'>
			<div class='doc-entry'>
				<textarea class='doc-text' ng-model='docText'></textarea>
				<button ng-click='saveDoc(docInfo._id)'>Save</button>
				<button ng-click='stopDoc()'>Cancel</button>
			</div>
			<div class='doc-info'>
				<table>
						<tr>
							<td class='doc-info-head' colspan='2'>Document Info</td>
						</tr>
						<tr>
							<th>Skill</th>
							<td>{{docInfo.name}}</td>
						</tr>
						<tr>
							<th>Category</th>
							<td>{{docInfo.category}}</td>
						</tr>
						<tr>
							<th>Sub Category</th>
							<td>{{docInfo.sub}}</td>
						</tr>
						<tr>
							<th>Path</th>
							<td>{{docInfo.path}}</td>
						</tr>
						<tr>
							<th>Progress</th>
							<td>{{docInfo.progress}}</td>
						</tr>
				</table>
			</div>
		</form>
<!--DOCUMENT SHOW END-->
	
		<table id='tbl'>
			<thead>
				<th ng-click="sortCol('name')">Skill Name  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('category')">Category  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('sub')">Sub  <span class="glyphicon glyphicon-sort"></span></th>	
				<th ng-click="sortCol('path')">Path  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('points')">Progress  <span class="glyphicon glyphicon-sort"></span></th>
				<th>.DOC</th>
				<th>DELETE</th>
			</thead>
			<tbody>
				<tr>
					<td><input class='box' type="text" placeholder="Skill Name" ng-model="formData.name"></td>
					<td><input class='box' type="text" placeholder="Category" ng-model="formData.category"></td>
					<td><input class='box' type="text" placeholder="Sub" ng-model="formData.sub"></td>
					<td><input class='box' type="text" placeholder="Path" ng-model="formData.path"></td>
					<td><input class='box' type="text" placeholder="Points" ng-model="formData.points"></td>
					<td>DOC</td>
					<td><button type="submit" ng-click="createSkill()">Add</button></td>
					<td class='update-btn'>
						<button>Update All</button>
					</td>
				</tr>
				<tr ng-repeat="skill in skills | filter: filter_name | orderBy: sorted: reverse">
					<td class='td-entry'>
						<div class='output'>{{skill.name}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'name']" value="skill.name">
					</td>
					<td class='td-entry'>
						<div class='output'>{{skill.category}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'category']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{skill.sub}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'sub']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{skill.path}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'path']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{skill.points}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'points']">
					</td>
					<td>
						<button ng-click='startDoc(skill._id)'>DOC</button>
					</td>
					<td>
						<label>
							<input type="checkbox" ng-click="deleteSkill(skill._id)">
						</label>
					</td>
					<td class='update-btn'>
						<button type='text' ng-click="updateInfoAll(skill._id)">UPDATE</button>
					</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div>
