<script>
	$(document).ready(function(){
		// $(document).on('focusout', 'input', function(){
		// 	if ($(this).val())
		// 	{
		// 		$('h4').append('YES');
		// 	}
		// });
		// if ($('#edit').is(':checked')) {
		// 	$('input').toggleClass('entry');
		// }

		$('#edit').click(function(){
			if($('#edit').is(':checked'))
			{
				$('#myTable > tbody > tr:not(:first) input[type=text]').removeClass('entry');
				$('#myTable > tbody > tr:not(:first) input[type=text]').addClass('entry-on');
			}
			else
			{
				$('#myTable > tbody > tr:not(:first) input[type=text]').addClass('entry');
				$('#myTable > tbody > tr:not(:first) input[type=text]').removeClass('entry-on');
			}
			$('.update-btn').toggle();
		});

		$('#doc-info-btn').click(function(){
			$('#doc-table').toggle();
		});
	});
</script>
<div ng-controller="skilledController">
	<style>
		
		.doc-window {
			border: 1px solid black;
			padding: 10px;
			margin: 10px;
			width: 600px;
			height: 200px;
		}
		.doc-window textarea {
			display: block;
		}
		.doc-window div {
			display: inline-block;
		}
		.doc-text {
			width: 275px;
			height: 150px;
		}
		.update-btn {
			display: none;
		}
		.output {
			display: block;
			border: 0px;
			padding: 2.3pt;
		}
		.entry {
			display: none;
		}
		.entry-on {
			width: 75px;
		}
		table {
			border-collapse: collapse;
		}
		.cats {
			display: inline-block;
		}
	</style>
	<h1>Skill Categories</h1>
	<div>
		<button ng-click="select('all')">All Categories</button>
		<div class='cats' ng-repeat="skill in skills | unique: 'category'">
				<button ng-click='select(skill.category)'>{{skill.category}}</button>
		</div>
	</div>
	<div>
		<button>Sub Categories</button>
		<div class='cats' ng-repeat="skill in skills | unique: 'category'">
				<button ng-click='select(skill.sub)'>{{skill.sub}}</button>
		</div>
	</div>
	<div class="container">
		<h1>My Skills</h1>
		<a href="">Show All</a>
		<a href="">Show Completed</a>
		<a href="">Show In Progress</a>
		<a href="">Show Progress</a>
		<a href="">Show Shared</a>
		<a href="">Work on Goal Planning</a>
		<a href="">Make some progress!</a>
		<br>
		<input id='edit' type='checkbox'>Edit</input>

		<form ng-show='editing' class='doc-window'>
			<div class='doc-entry'>
				Title <button id='doc-info-btn'>Info</button>
				<label><textarea class='doc-text' ng-model='docText'></textarea></label>
				<button ng-click='saveDoc(docInfo._id)'>Save</button>
				<button ng-click='stopDoc()'>Cancel</button>
			</div>
			<div id='doc-table'>
				<table>
						<tr>
							<th>Skill</th>
							<td>{{docInfo.name}}</td>
						</tr>
						<tr>
							<th>Category</th>
							<td>{{docInfo.category}}</td>
						</tr>
						<tr>
							<th>Sub Category</th>
							<td>{{docInfo.sub}}</td>
						</tr>
						<tr>
							<th>Path</th>
							<td>{{docInfo.path}}</td>
						</tr>
						<tr>
							<th>Progress</th>
							<td>{{docInfo.progress}}</td>
						</tr>
				</table>
			</div>
		</form>
	

		<table id='myTable'>
			<thead>
				<th>Skill Name</th>
				<th>Category</th>
				<th>Sub</th>	
				<th>Path</th>
				<th>Points</th>
				<th>Document</th>
				<th>DELETE</th>
			</thead>
			<tbody>
				<tr>
					<td><input class='box' type="text" placeholder="Skill Name" ng-model="formData.name"></td>
					<td><input class='box' type="text" placeholder="Category" ng-model="formData.category"></td>
					<td><input class='box' type="text" placeholder="Sub" ng-model="formData.sub"></td>
					<td><input class='box' type="text" placeholder="Path" ng-model="formData.path"></td>
					<td><input class='box' type="text" placeholder="Points" ng-model="formData.points"></td>
					<td>Document</td>
					<td><button type="submit" ng-click="createSkill()">Add</button></td>
					<td class='update-btn'>
						<button>Update All</button>
					</td>
				</tr>
				<tr ng-repeat="skill in skills | filter: filter_name | orderBy:'name'">
					<td>
						<div class='output'>{{skill.name}}</div><br>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'name']" value="skill.name">
					</td>
					<td>
						<div class='output'>{{skill.category}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'category']">
					</td>
					<td>
						<div class='output'>{{skill.sub}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'sub']">
					</td>
					<td>
						<div class='output'>{{skill.path}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'path']">
					</td>
					<td>
						<div class='output'>{{skill.points}}</div>
						<input class='entry' type='text' ng-model="cells[skill._id.toString()+'points']">
					</td>
					<td>
						<button ng-click='startDoc(skill._id)'>Document</button>
					</td>
					<td>
						<label>
							<input type="checkbox" ng-click="deleteSkill(skill._id)">
						</label>
					</td>
					<td class='update-btn'>
						<button type='text' ng-click="updateInfoAll(skill._id)">UPDATE</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
