<script>
	$(document).ready(function(){
		// $(document).on('focusout', 'input', function(){
		// 	if ($(this).val())
		// 	{
		// 		$('h4').append('YES');
		// 	}
		// });
		// if ($('#edit').is(':checked')) {
		// 	$('input').toggleClass('entry');
		// }

		$('#edit').click(function(){
			if($('#edit').is(':checked'))
			{
				$('#myTable > tbody > tr:not(:first) input[type=text]').removeClass('entry');
				$('#myTable > tbody > tr:not(:first) input[type=text]').addClass('entry-on');
			}
			else
			{
				$('#myTable > tbody > tr:not(:first) input[type=text]').addClass('entry');
				$('#myTable > tbody > tr:not(:first) input[type=text]').removeClass('entry-on');
			}
			$('.update-btn').toggle();
		});

		$('#doc-info-btn').click(function(){
			$('#doc-table').toggle();
		});
	});
</script>
<div ng-controller="TasksController">
	<div>
		<h1>Task Categories</h1>
		<div>
			<button ng-click="select('all')">All Projects</button>
			<div class='cats' ng-repeat="task in tasks | unique: 'projects'">
					<button ng-click='select(task.projects)'>{{task.projects}}</button>
			</div>
		</div>
		<div>
			<button ng-click="select('all')">All Goals</button>
			<div class='cats' ng-repeat="task in tasks | unique: 'goals'">
					<button ng-click='select(task.goals)'>{{task.goals}}</button>
			</div>
		</div>
	</div>

	<div>
		<h1>My Tasks</h1>
		<a href="">Show All</a> |
		<a href="">Show Completed</a> |
		<a href="">Show In Progress</a> |
		<a href="">Show Progress</a> |
		<a href="">Show Shared</a> |
		<a href="">Work on Goal Planning</a> |
		<a href="">Make some progress!</a> |
		<br> 
		<input id='edit' type='checkbox'>Edit</input>

		<form ng-show='editing' class='doc-window'>
			<div class='doc-entry'>
				Title <button id='doc-info-btn'>Info</button>
				<label><textarea class='doc-text' ng-model='docText'></textarea></label>
				<button ng-click='saveDoc(docInfo._id)'>Save</button>
				<button ng-click='stopDoc()'>Cancel</button>
			</div>
			<div id='doc-table'>
				<table class='table'>
						<tr>
							<th>Task</th>
							<td>{{docInfo.name}}</td>
						</tr>
						<tr>
							<th>Related Projects</th>
							<td>{{docInfo.projects}}</td>
						</tr>
						<tr>
							<th>Related Goals</th>
							<td>{{docInfo.goals}}</td>
						</tr>
						<tr>
							<th>Related Skills</th>
							<td>{{docInfo.skills}}</td>
						</tr>
						<tr>
							<th>Status</th>
							<td>{{docInfo.status}}</td>
						</tr>
						<tr>
							<th>Due Date</th>
							<td>{{docInfo.due}}</td>
						</tr>
						<tr>
							<th>Date Created</th>
							<td>{{docInfo.created}}</td>
						</tr>

				</table>
			</div>
		</form>
	
		<table id='myTable'>
			<thead>
				<th ng-click="sortCol('name')">Task Name</th>
				<th ng-click="sortCol('projects')">Related Projects</th>
				<th ng-click="sortCol('goals')">Related Goals</th>
				<th ng-click="sortCol('skills')">Related Skills</th>
				<th ng-click="sortCol('status')">Status</th>
				<th ng-click="sortCol('due')">Due Date</th>
				<th ng-click="sortCol('created')">Date Created</th>
				<th ng-click="">Related Docs</th>
				<th ng-click="">DELETE</th>
			</thead>
			<tbody>
				<tr>
					<td><input class='box' type="text" placeholder="Name" ng-model="formData.name"></td>
					<td><input class='box' type="text" placeholder="Projects" ng-model="formData.projects"></td>
					<td><input class='box' type="text" placeholder="Goals" ng-model="formData.goals"></td>
					<td><input class='box' type="text" placeholder="Skills" ng-model="formData.skills"></td>
					<td><input class='box' type="text" placeholder="Status" ng-model="formData.status"></td>
					<td><input class='box' type="text" placeholder="Due Date" ng-model="formData.due"></td>
					<td><input class='box' type="text" placeholder="" ng-model="formData.created"></td>
					
					<td>Document</td>
					<td><button type="submit" ng-click="createTask()">Add</button></td>
					<td class='update-btn'>
						<button>Update All</button>
					</td>
				</tr>
				<tr ng-repeat="task in tasks | filter: filter_name | orderBy: sorted: reverse">
					<td>
						<div class='output'>{{task.name}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'name']" value="task.name">
					</td>
					<td>
						<div class='output'>{{task.projects}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'projects']" value="task.projects">
					</td>
					<td>
						<div class='output'>{{task.goals}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'goals']" value="task.goals">
					</td>
					<td>
						<div class='output'>{{task.skills}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'skills']" value="task.skills">
					</td>
					<td>
						<div class='output'>{{task.status}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'status']" value="task.status">
					</td>
					<td>
						<div class='output'>{{task.due}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'due']" value="task.due">
					</td>
					<td>
						<div class='output'>{{task.created}}</div>
						<input class='entry' type='text' ng-model="cells[task._id.toString()+'created']" value="task.created">
					</td>
					<td>
						<a ng-click="startDoc(task._id)">Docs</a>
					</td>
					<td>
						<label>
							<input type="checkbox" ng-click="deleteTask(task._id)">
						</label>
					</td>
					<td class='update-btn'>
						<button type='text' ng-click="updateInfoAll(task._id)">UPDATE</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
