<script src="js/avatar.js"></script>
<div ng-controller="TasksController">
	
	<h1>Tasks: Related Projects and Goals</h1>
	<div>
		<button ng-click="select('all', 'all')">All Projects</button>
		<div class='cats' ng-repeat="task in tasks | uniq: 'projects'">
				<button ng-click="select('projects', task.projects)" ng-show="task.projects.length > 1">{{task.projects}}</button>

		</div>
	</div>
	<div>
		<button ng-click="select('all', 'all')">All Goals</button>
		<div class='cats' ng-repeat="task in tasks | uniq: 'goals'">
				<button ng-click="select('goals', task.goals)" ng-show="task.goals.length > 1">{{task.goals}}</button>

		</div>
	</div>
	<div>
		<h1>My Tasks</h1>
		Progress: <a href="">Show All</a>
		<br>
		<input id='edit' type='checkbox'>Edit</input>

<!--DOCUMENT SHOW START-->
		<form ng-show='editing' class='doc-window'>
			<div class='doc-entry'>
				<textarea class='doc-text' ng-model='docText'></textarea>
				<button ng-click='saveDoc(docInfo._id)'>Save</button>
				<button ng-click='stopDoc()'>Cancel</button>
			</div>
			<div class='doc-info'>
				<table>
						<tr>
							<td class='doc-info-head' colspan='2'>Document Info</td>
						</tr>
						<tr>
							<th>Task</th>
							<td>{{docInfo.name}}</td>
						</tr>
						<tr>
							<th>Category</th>
							<td>{{docInfo.category}}</td>
						</tr>
						<tr>
							<th>Sub Category</th>
							<td>{{docInfo.sub}}</td>
						</tr>
						<tr>
							<th>Path</th>
							<td>{{docInfo.path}}</td>
						</tr>
						<tr>
							<th>Progress</th>
							<td>{{docInfo.progress}}</td>
						</tr>
				</table>
			</div>
		</form>
<!--DOCUMENT SHOW END-->
	
		<table id='tbl'>
			<thead>
				<th ng-click="sortCol('name')">Task Name  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('projects')">Related Projects  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('goals')">Related Goals <span class="glyphicon glyphicon-sort"></span></th>	
				<th ng-click="sortCol('skills')">Related Skills  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('status')">Status  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('due')">Due Date  <span class="glyphicon glyphicon-sort"></span></th>
				<th ng-click="sortCol('created')">Date Created  <span class="glyphicon glyphicon-sort"></span></th>
				<th>DOCs</th>
				<th>DELETE</th>
			</thead>
			<tbody>
				<tr>
					<td><input class='box' type="text" placeholder="Name" ng-model="formData.name"></td>
					<td><input class='box' type="text" placeholder="Projects" ng-model="formData.projects"></td>
					<td><input class='box' type="text" placeholder="Goals" ng-model="formData.goals"></td>
					<td><input class='box' type="text" placeholder="Skills" ng-model="formData.skills"></td>
					<td><input class='box' type="text" placeholder="Status" ng-model="formData.status"></td>
					<td><input class='box' type="text" placeholder="Due Date" ng-model="formData.due"></td>
					<td><input class='box' type="text" placeholder="" ng-model="formData.created"></td>
					<td><button ng-click='clearEntry()'>clear</button></td>
					<td><button type="submit" ng-click="createTask()">Add</button></td>
					<td class='update-btn'>
					</td>
				</tr>
				<tr ng-repeat="task in tasks | filter: filter_name | orderBy: sorted: reverse">
					<td class='td-entry'>
						<div class='output'>{{task.name}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'name']" value="task.name">
					</td>
					<td class='td-entry'>
						<div class='output'>{{task.projects}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'projects']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{task.goals}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'goals']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{task.skills}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'skills']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{task.status}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'status']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{task.due}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'due']">
					</td>
					<td class='td-entry'>
						<div class='output'>{{task.created}}</div>
						<input class='entry-off' type='text' ng-model="cells[task._id.toString()+'created']">
					</td>
					
					<td>
						<button ng-click='startDoc(task._id)'>DOC</button>
					</td>
					<td class='btn-del'>
						<input type="checkbox" ng-click="deleteTask(task._id)">
					</td>
					<td class='update-btn'>
						<button type='text' ng-click="updateInfoAll(task._id)">UPDATE</button>
					</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div>
